body {
  background-color: #121212;
  font-family: "Roboto", sans-serif;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
